// Archivo de variables de entorno
.env

// Archivos de microservicios
microservicioAuth/node_modules/

// Archivos de microservicio de imagenes
image_service/__pycache__/
image_service/uploads/
image_service_uploads/

node_modules

// Archivo para seguridad de los clusters
mongo-keyfile

// Archivos de bases de datos
PinBoardMongo1
PinBoardMongo2
PinBoardMongo3

postgres_data_1

// Archivos __pycache__
__pycache__/

// Archivos de inicializaion de cluster de Posgresql
scripts

# compiled output
/dist
/node_modules
/build
profile_service/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock